@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* color background, movimiento de scroll suave */
html {
  scrollbar-width: smooth;
  scroll-behavior: smooth;
  background-color: #F2F2F2;
  text-wrap: pretty;
}

* {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}

section::-webkit-scrollbar {
  width: 0 !important;
}

/* transiciones */
.onHover {
  transition: all 0.3s ease-in-out;
}

.onHoverLong {
  transition: all 0.5s ease-in-out;
}

/* @media only screen and (min-width: 1211px) {
  .swiper-margin-left {
    margin-left: calc((100vw - 1205px) / 2);
  }

  .swiper-margin-right {
    margin-right: calc((100vw - 1205px) / 2);
  }
} */